#favorites {
    margin-top: 20px;
}

.favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Keep nice spacing */
    justify-content: center;
}

.favorite-item {
    width: 180px;
    height: 298px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
}

.favorite-item h3 {
    margin: 5px 0;
    font-size: 16px;
}

.favorite-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    padding: 5px;
}

.favorite-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.favorite-name {
    font-weight: bold;
    color: #333;
}